<div class="container-fluid jumbotron m-0 contactimg">
  <h1> Contact</h1>
</div>
  <app-nav></app-nav>
    
  <h1 class="head pic3">Get a Hold of Me</h1>
  <p>
    <span class="dropCap">L</span>ooking to connect with me?  
    You're in the right place!  Find my contact information here or in the footer of the page anywhere on the site!<br>
  </p>
  <h1 class="head pic1">Contact</h1>
   <div class="contactBox">
     <p><span class="dropCap">Email:  </span>nsperk@gmail.com</p>
     <p><span class="dropCap">Phone:  </span>513-262-6710</p>
     <div class="socMed">
        <h1 class="head pic4">Social Media</h1>
     </div>
   </div>

   
   <ul class="m-5 list-unstyled">
    <li>
        <a href="https://www.facebook.com/nate.perkins.357" class=" text-info big" target="_blank"> 
           <i class="fab fa-facebook-square"></i>
           <small class="pl-1">My Facebook Page</small>
       </a>
    </li>
    <li>
        <a href="https://www.instagram.com/darthnater007/" class=" text-info big" target="_blank"> 
            <i class="fab fa-instagram"></i>
            <small class="pl-1">My Instagram Page</small>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/darthnater007" class=" text-info big" target="_blank"> 
            <i class="fab fa-twitter-square"></i>
            <small class="pl-1">My Twitter Page</small>
        </a>
    </li>
    <li>
        <a href="https://github.com/darthnater007/" class=" text-info big" target="_blank"> 
            <i class="fab fa-github-square"></i>
            <small class="pl-1">My Github Page</small>
        </a>
    </li>
    <li>
            <a href="https://nateperkins.bandcamp.com/" class=" text-info big" target="_blank"> 
                <i class="fab fa-bandcamp"></i>
                <small class="pl-1">My Bandcamp Page</small>
            </a>
    </li>
    <br>

</ul>