<div class="container-fluid jumbotron m-0 writingimg">
  <h1> Writing</h1>
</div>
<app-nav></app-nav>
    
<h1 class="head pic2">Why Write?</h1>
<p>
  <span class="dropCap">W</span>riting is my first love.  I graduated from Ohio University in December of 2015 with a Bachelor of Specialized Studies Degree in 
  Narrative Structure for Fiction, Film, Theater, Poetry, and Non-Fiction.  While I write across a broad set of genres and styles, my bread and butter 
  is crazy, off-the-wall, dark, comedic sci-fi.  I was most recently published by The Cincinnati D.I.Y. Writers Group in their anthology of short fiction 
  called <i>The Cincinnati Corpatria:  Tales From the Future</i>.  One of the short pieces I wrote for this anthology is available below for free!  Current projects 
  include workshopping old short stories for publication and working on a larger and as of yet unnamed project the involves a collection of three novellas centered around 
  a theme.
</p>

<h3 class="head pic4">Recent Projects</h3>
<div class=" audioBox  c-height bg-secondary text-white" >
  <h3 class="head pic3">Flip</h3>
  <p>
    <span class="dropCap">S</span>et hundreds of years in the future after a corporate takeover of world governments by business people calling themselves The Corpatria, 
    Ed Jones, a private eye living below the massive domes that hold the rich Topside, begins to investigate a new drug called Flip that's worming it's way 
    up through the sewers.  Published in September 2018 as part of the anthology <i>The Cincinnati Corpatria: Tales From the Future</i>.
  </p>
  <a class="my-5 centerPlayer btn btn-info" href="../../../assets/Flip.pdf" target="_blank">Flip: From "The Cincinnati Corpatra"</a>
</div>

<h3 class="m-5 head pic1">More to Come Soon!!</h3>