<div class="container-fluid jumbotron m-0 musicimg">
  <h1> Music</h1>
</div>
<app-nav></app-nav>
    
<h1 class="head pic2">Recording and Songwriting</h1>
<p>
  <span class="dropCap">I</span>'ve always loved music.  I've been writing original songs since I was 14 years old.  Since completing my education
at The Recording Workshop I've been recording myself and others!  With six months expereince at BabbleFish Studios in Franklin, Ohio and years operating 
a studio from my apartment.  Send me an email (nsperk@gmail.com) for questions about booking, recording sessions, custom music needs, or if you just want to jam.
<br><span class="dropCap">I</span>f you want to check out what I've been working on musically, check out my recent projects below or go to my 
<a href="https://nateperkins.bandcamp.com/" target="_blank">Bandcamp Site</a>
</p>

<h3 class="head pic4">Recent Projects</h3>
<div class=" audioBox  c-height bg-secondary text-white" >
  <h3 class="head pic3">Once I Get My Own Place- Dan Baker</h3>
  <p>
    <span class="dropCap">T</span>his song was written and performed by Dan Baker as a test of my audio equipment in my new space.
  </p>
  <audio class="mx-auto  my-5 centerPlayer" src="../../../assets/Once I get My Own Place.mix1.wav" controls></audio>
</div>

<h3 class="m-5 head pic1">More to Come Soon!!</h3>