<div class="container-fluid jumbotron bg-info m-0 aboutimg">
  <h1> About</h1>
</div>

<app-nav></app-nav>
<div class="content-box">
<h1 class="head pic3">About Me</h1>
<p>
  <span class="dropCap">I</span>'m Nate Perkins, a programmer, musical artist, audio engineer, cross-disciplinary writer, 
  and hobby enthusiast based out of New York City.  Originally from Cincinnati, OH, I moved to New York to start my career 
  as a developer after working for around a decade in the service industry as a server, bartender or cook (in one job I was all three!).  This experience, 
  in combination with my travel and educational history, inform everything I do professionally and personally.<br>
  <span class="dropCap">T</span>his site is designed to be part resume for my development career, and part portfolio of all of my creative work.  The sections on this site are broken up into three sections; Code, Music, and Writing.  
  Each will display a few of my most recent woris or projects, with links to reach my larger body of work through other sites if applicable.
</p>

<h1 class="head pic4">Education</h1>
  <div>
    <h3 class="ed">The Recording Workshop (graduated ~2010) => Certificate in Audio Engineering</h3>
    <p>
      <span class="dropCap">T</span>he Recording Workshop, in Chillicothe, OH, is a 3 month  boot camp for Audio Engineering where my classmates and I were
      taught analog and digital audio for music, film, voiceover, and more.  I worked a brief internship at BabbleFish Studios for six months after graduating, and then for an additional year as athe lead audio
      technician for Squad Three Entertainment, a small hip hop production company/record label out of downtown Cincinnati.  I currently run a small project studio from my apartment in New York City, 
      where I record music for myself and other local musicians.
    </p>
  </div>
  <div>
      <h3 class="ed">Ohio University (graduated 2015)=>  B.S.S. in Narrative Structure</h3>
      <p>
        <span class="dropCap">I</span> completed my Bachelor of Specialized Studies in Narrative Structure (Theater, Film, Fiction, Non-fiction, and Poetry)
        in Winter of 2015.  During my time at school I was instrumental in the creation of 9 @ 9, an self-funded extra-curricular group that put on nine five minute plays
        each Saturday at 9 during the school year.  I also volunteered my space for student organized bi-weekly workshops of any written or visual work.  I acted and wroter for several student films, and ran or wrote for
        countless theatrical productions.  I was most recently published by Cincinnati D.I.Y. Writer's in their "The Cincinnati Corpatria: Tales From The 
        Future" anthology of short fiction, and should be available for purchase online soon.
      </p>
  </div>
  <div>
    <h3 class="ed">Cincy Code IT Java BootCamp (graduated 2018)=>  Certificate in Full-Stack Development</h3>
    <p>
      <span class="dropCap">T</span>he MAX Technical Training Cincy Code IT Java Bootcamp was where I took my frist steps into becoming a developer.  
      Teaching full-stack development over the course of full-time + days for two and a half months, we jumped in and learned to break things quickly.
        During my schooling, I organized a weekly coding challenge/study group outside of class that saw full attendence ten out of eleven weeks.  My capstone Purchase Request
        System project was chosen for a demonstration to potential employers on graduation day.
    </p>
</div>
