*{
    margin: 0;
    padding: 0;
}

body{
    background-color:lightgray;
}

.jumbotron{
    height: 300px;
    color: white;
    border-radius: 0;
}

.jumbotron>h1{
    font-size: 100px;
    text-shadow:  2px 2px 2px black;
}

.homeimg{
    background: linear-gradient(to left,transparent, #29A0B5, #29A0B5),url("assets/skyline.jpg") repeat right;
}

.aboutimg{
    background: linear-gradient(to left,transparent, #29A0B5, #29A0B5),url("assets/cockatoo.jpg") repeat top right;
   }

   .codeimg{
    background: linear-gradient(to left,transparent, #29A0B5, #29A0B5),url("assets/code.JPG") repeat top;
   }

   .musicimg{
    background: linear-gradient(to left,transparent, #29A0B5, #29A0B5),url("assets/organ.jpg") repeat top right;
   }

   .writingimg{
    background: linear-gradient(to left,transparent, #29A0B5, #29A0B5),url("assets/typewriter.jpg") repeat bottom left;
   }

   .contactimg{
    background: linear-gradient(to left,transparent, #29A0B5, #29A0B5),url("assets/centralpark.jpg") repeat top right;
   }

   .content-box{
       height: 100%;
       border: 1px solid black;
   }

   .head{
    color: white;
    box-shadow: 2px 2px 2px black;
    text-shadow:  2px 2px 2px grey;
    padding: 60px;
   }



   .pic1{
    background: linear-gradient(to left,transparent, #29A0B5), url("assets/design-1.jpg");
   }

   .pic2{
    background: linear-gradient(to left,transparent, #29A0B5),url("assets/design-2.jpg") repeat top right;
   }

   .pic3{
    background: linear-gradient(to left,transparent, #29A0B5),url("assets/design-3.jpg") repeat top right;
 
   }

   .pic4{
    background: linear-gradient(to left,transparent, #29A0B5),url("assets/design-4.jpg") repeat top right;

   }

   .dropCap{
       font-size: 125%;
       margin-left: 5%;
   }

   p{
       margin: 2%;
   }

   .ed{
        margin-left: 2%;
        text-decoration: underline;
   }