<div class="container-fluid jumbotron m-0 codeimg">
  <h1> Code</h1>
</div>
<app-nav></app-nav>
    
<h1 class="head pic2">Check out some of my code!</h1>
<p>
  <span class="dropCap">T</span>hough I'm new to coding, I've already gotten my hands dirty building and hosting some sites.  
  I graduated from the Cincy Code IT Java Bootcamp for full-stack development in May of 2018 and am currently seeking full-time work as a developer in New York City.  
  I'm currently seeking to expand my portfolio of work, so if you are in the market for a cheap, professionally built website, contact me!<br>
  <span class="dropCap">I</span>f you are here as an employer, check out my resume <a href="../../../assets/Resume.pdf" target="_blank">here</a>.
</p>


<h3 class="head pic4">Recent Projects</h3>
<div class="container-fluid mb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner bg-secondary text-white c-height" style="border: 2px solid black;">
        <div class="carousel-item active">
          <h5 class="head pic4">Cincinnati DIY Writers Site</h5>
          <p><span class="dropCap">I</span> built this site for a writer's group that I was a member of in Cincinnati.  It is a full stack application 
          built as a SPA using an Angular front-end that makes calls to a RESTful API custom built with Spring/Java.  Information is stored in a MySQL database.  
          The site is hosted for free (so it is quite slow for information retrieval) through a combination of Heroku, Firebase, and AWS S3 buckets.</p>
        <div>
          <p class="text-center">
            <span class="dropCap center">T</span>he site can be reached <a href="https://cincinnati-diy-writers-site.firebaseapp.com/" target="_blank">here</a>.
          </p>
          <p class="text-center"> 
              <span class="dropCap">T</span>he front end code can be reached <a href="https://github.com/darthnater007/CDW-ng" target="_blank">here</a>.
          </p>
          <p class="text-center">
              <span class="dropCap">T</span>he back-end code can be reached <a href="https://github.com/darthnater007/CDW-web" target="_blank">here</a>.
          </p>
        </div>
      </div>

        <div class="carousel-item"> 
            <h5 class="head pic3">Purchase Request System</h5>
            <p><span class="dropCap">T</span>his site was built as the capstone project for the completion of my training at Cincy Code IT.  It is a full stack application 
              built as a SPA using an Angular front-end that makes calls to a RESTful API custom built with Spring/Java.  Information is stored in a MySQL database.</p>
          
          <div>
            <p class="text-center">
                <span class="dropCap">T</span>he front end code can be reached <a href="https://github.com/darthnater007/PRS-ng" target="_blank">here</a>.
            </p>
            <p class="text-center">
                <span class="dropCap">T</span>he back-end code can be reached <a href="https://github.com/darthnater007/PRS-web" target="_blank">here</a>.
            </p>
        </div>
      </div>

      <div class="carousel-item"> 
          <h5 class="head pic1">Coming soon!  Box Attack 3000</h5>
          <p>
            <span class="dropCap">B</span>ox Attack 3000 is a simple 3d game that I made using Unity Game engine from <a href="https://www.youtube.com/watch?v=IlKaB1etrik" target="_blank">this</a> excellent YouTube 
            tutorial by Brackeys.  It works, I built it, it's sort of fun... I just haven't figured out how to host it yet.  Keep your eyes peeled!
          </p>
      </div>

    <div class="carousel-item"> 
        <h5 class="head pic2">My GitHub Page</h5>
        <p class="text-center">
          <span class="dropCap">I</span> keep just about every line of code I've written on my Github page, which is <a href="https://github.com/darthnater007/" target="_blank">here</a>.
        </p>
    </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>